{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Tous les Forums</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    {% for forum in forums %}
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h2>{{forum.title}}</h2>
        <p>{{forum.description}}</p>
        <p>Date: {{forum.createdAt|date("d-m-Y")}}</p>
        <a href="/forum/{{forum.id}}" class="icon-link">
          Voir
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
        
      </div>
    {% endfor %}   

    </div>
  </div>
  <div class="b-example-divider"></div>
{% endblock %}
