<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ path('home') }}" class="nav-link px-2 text-secondary">Forum</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('admin_admin') }}" class="btn btn-outline-light me-2">Admin</a>
        {% endif %}
            <a href="{{ path('app_logout') }}" class="btn btn-warning">Déconnection</a>
        </div>
      </div>
    </div>
  </header>