{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello messages! ✅</h1>

   <p>Forum >> {{ forum.title}} </p>
   {% for message in forum.messages %}
    <div class="media forum-item"> 
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" alt="User" width="50"> Créé le {{ message.createdAt|date("d-m-Y") }} par {{ message.user.email }} 
        <br><br>
        <p class="text-secondary"> {{ message.content }}</p> 
        <br>       
    </div>    

    
    
   {% endfor %}
    <hr>
   <p>Ecrire un commentaire </p>
    {{ form_start(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}

</div>
{% endblock %}
